button{
    margin-top:10px;
    margin-bottom:20px;
}

.pull-right {
    float: right !important;
  }

  .mortgage-heading {
    margin-top:10px;
    background-color: #2572b4;
    font-weight: bold;
  }